<!-- Side navigation -->
<div class="sidenav">
  <%= link_to "Users", admin_users_path, class:"nav-link #{'active' if (params[:controller] == 'admin/users')}" %>
  <%= link_to "Orders", admin_orders_path, class:"nav-link #{'active' if (params[:controller] == 'admin/orders')}" %>
  <%= link_to "Logout", destroy_user_session_path, method: "delete", class:"nav-link" %>
</div>

